{% extends 'base.html' %}
{% block styles %}
    {{ super() }}
{% endblock %}
{% block main %}
<h2>Les évènements qui n'ont pas de groupe</h2>

{% for event in events %}
    <p>Assigné au festival : {{ event.festival.nomFestival }}</p>
    <p>{{ event.nomEvent }}</p>
    <p>{{ event.typeEvent }}</p>
    <p>{{ event.dateHeureDebutEvent }}</p>
    <p>{{ event.dateHeureFinEvent }}</p>
    <p>{{ event.estGratuit }}</p>
    <p>{{ event.adresseEvent }}</p>
    <p>{{ event.nbPlaceEvent }}</p>
    <a href="{{ url_for('assigner_groupe', idEvent=event.idEvent) }}">Assigner un groupe</a>
    <p>{{ event.imageEvent }}</p>
{% endfor %}
{% endblock %}