{% extends 'base.html' %}
{% block styles %}
    {{ super() }}
{% endblock %}
{% block scripts %}
<script>
    document.querySelectorAll('.day-link').forEach(function(link) {
        link.addEventListener('click', function(event) {
            event.preventDefault(); 
            
            var newDay = link.textContent.trim();
            
            document.querySelector('h1').textContent = 'Événements du festival pour le ' + newDay;
            
            var xhr = new XMLHttpRequest();
            xhr.open('GET', link.href, true);

            xhr.onload = function() {
                if (xhr.status >= 200 && xhr.status < 400) {
                    document.querySelector('.events-container').innerHTML = xhr.responseText;
                }
            };

            xhr.send();
        });
    });
</script>
{% endblock %}

{% block main %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/festival.css')}}">

    <h1>{{ festival.nomFestival }}</h1>

    <h2>Événements du festival pour le {{ day }}</h2>

    <div class="days-container">
        {% for event_day in events_by_day %}
            {% if event_day != day %}
                <a href="{{ url_for('day_detail', festival_id=festival.idFestival, day=event_day.strftime('%Y-%m-%d')) }}" class="day-link">{{ event_day.strftime('%Y-%m-%d') }}</a>
            {% endif %}
        {% endfor %}
    </div>
    
    {% for event in events_for_day %}
    <div class="event">
        <a class="evt" href="#">
            <p>{{ event.nomEvent }}</p>
            <p>{{ event.typeEvent }}</p>
            <p>{{ event.dateHeureDebutEvent | datetime_format }} - {{ event.dateHeureFinEvent | datetime_format('%Hh:%M') }}</p>
            {% if event.estGratuit %}
                <a>Réserver</a>
            {% endif %}
            <p>{{ event.reservations|lenght }} / {{ event.nbPlaceEvent if event.nbPlaceEvent > 0 else "illimité" }}</p>
            <p>{{ event.adresseEvent }}</p>
            {{ event.imageEvent | byte_to_image | safe }}
        </a>
    </div>
    
    {% endfor %}
{% endblock %}
