{% extends 'base.html' %}
{% block styles %}
    {{ super() }}
{% endblock %}
{% block main %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/festival.css')}}">

    <h1>Information sur le festival</h1>
    <div class="infoFest">
        <p>{{ festival.nomFestival }}</p>
        <p>{{ festival.villeFestival }} {{ festival.codePostalFestival }}</p>
        <p>Du {{ festival.debutFest | datetime }}</p>
        <p>Jusqu'au {{ festival.finFest | datetime }}</p>
        {{ festival.imageFestival | byte_to_image | safe }}
    </div>

    <h1>Programmes du festival</h1>
        {% for day in events_by_day %}
            <div class="ensProg">
                <a class="dateProg" href="{{ url_for('day_detail', festival_id=festival.idFestival, day=day.strftime('%Y-%m-%d')) }}">{{ day }}</a>
            </div>    
    {% endfor %}

    <h1>Groupes présents au festival</h1>
    <div class="ensGroupe">
        {% for groupe in groupes %}
            <a class="nomGrp" href="{{ url_for('groupe', nomGroupe=groupe.nomGroupe) }}">{{ groupe.nomGroupe }}</a>
        </div>    
        {% endfor %}
{% endblock %}