{% extends 'base.html' %}
{% block styles %}
    {{ super() }}
{% endblock %}
{% block main %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/festival.css')}}">

    <p>{{ festival.nomFestival }}</p>
    <p>{{ festival.villeFestival }} {{ festival.codePostalFestival }}</p>
    <p>Du {{ festival.debutFest | datetime }}</p>
    <p>Jusqu'au {{ festival.finFest | datetime }}</p>
    {{ festival.imageFestival | byte_to_image | safe }}

    <h1>Programmes du festival</h1>

    {% for day in events_by_day %}
        <h2><a href="{{ url_for('day_detail', festival_id=festival.idFestival, day=day.strftime('%Y-%m-%d')) }}">{{ day }}</a></h2>
    {% endfor %}

    {% if events_by_day|lenght == 0 %}
        <p>Aucun programme n'est disponible pour le moment</p>
    {% endif %}
    {% if current_user.is_authenticated and current_user.role == 'Admin' %}
        <a href="{{ url_for('ajouter_evenement', idFestival=festival.idFestival) }}">Ajouter un évènement</p>
    {% endif %}

    <h1>Groupes présents au festival</h1>
        {% for groupe in groupes %}
            <h2><a href="{{ url_for('groupe', nomGroupe=groupe.nomGroupe) }}">{{ groupe.nomGroupe }}</a></h2>
        {% endfor %}
        {% if current_user.is_authenticated and current_user.role == 'Admin' %}
        <a href="{{ url_for('ajouter_groupe_festival', idFestival=festival.idFestival) }}">Ajouter un groupe au festival</p>
    {% endif %}
{% endblock %}