{% extends 'base.html' %}
{% block styles %}
{{ super() }}
{% endblock %}
{% block main %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/groupe.css')}}">

{{ groupe.imageGroupe | byte_to_image | safe }}
<p>{{ groupe.nomGroupe }}</p>

<!-- Rajouter le style du groupe en récupérant l'entièreté des styles des artistes-->

{% for artiste in artistes %}
    <a href="{{ url_for('artiste', nomArtiste=artiste.nomArtiste) }}">
        <p>{{ artiste.nomArtiste }}</p>
        {{ artiste.imageArtiste | byte_to_image | safe }}
    </a>
{% endfor %}

{% endblock %}