{% extends 'base.html' %}

{% block style %}
    {{ super() }}
{% endblock %}

{% block main %}
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/infoBillet.css') }}">

    <form action="{{ url_for('acheter_billet')}}" method="POST">
        <section class="Acheter_billet">
            <h1>Acheter un billet</h1>
            <input type="text" name="nomBillet" id="nomBillet" value="{{ nomBillet }}" hidden>

            <select name="nomFestival" id="nomFestival" required>
                <option value="" disabled selected hidden>Choisissez un Festival</option>
                {% for f in festivals %}
                    <option value="{{ f.idFestival }}">{{ f.nomFestival }}</option>
                {% endfor %}
            </select>

            {% if nomBillet != "Totalité du festival" %}
                <select id="selectDate" name="selectDate" required>
                    <option value="" disabled selected hidden>Choisissez une date</option>
                </select>
            {% endif %}

            <div id="events">
            </div>

            {% if nomBillet == "Journée" %}
                <p>Prix : 30€</p>
                <input type="text" name="prix" id="prix" value="30" hidden>
            {% elif nomBillet == "2 jours" %}
                <p>Prix : 45€</p>
                <input type="text" name="prix" id="prix" value="45" hidden>
            {% elif nomBillet == "Totalité du festival" %}
                <p>Prix : 58€</p>
                <input type="text" name="prix" id="prix" value="58" hidden>
            {% endif %}

            <label for="quantite">Quantité :</label>
            <input type="number" name="quantite" id="quantite" min="1" max="5" value="1" required>

            <button type="submit">Acheter le billet</button>
        </section>
    </form>

    <script>
        $(document).ready(function () {
            $('#nomFestival').change(function () {
                var selectedFestival = $(this).val();
                var selectedBillet = $('#nomBillet').val();
                if(selectedBillet == "Totalité du festival"){
                    $.ajax({
                        type: 'POST',
                        url: '/get_events',
                        data: { 'nomFest': selectedFestival, 'selectedDate': "TOUT" },
                        success: function (response) {
                            var eventsDiv = $('#events');
                            eventsDiv.empty();
                            if (response.events.length > 0) {
                                $.each(response.events, function (index, event) {
                                    eventsDiv.append('<div class="event"><a class="evt" href="#"><p>' + event.nomEvent + '</p><p>' + event.typeEvent + '</p><p>' + event.dateHeureDebutEvent + ' - ' + event.dateHeureFinEvent + '</p><p>' + event.adresseEvent + '</p><p>' + event.nbPlaceEvent + '</p></a></div>');
                                });
                            } else {
                                eventsDiv.append('<p>Aucun événement disponible à cette date.</p>');
                            }
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    });
                }else{
                    $.ajax({
                        type: 'POST',
                        url: '/get_dates',
                        data: { 'idFestival': selectedFestival, 'nomBillet': selectedBillet },
                        success: function (response) {
                            var selectDate = $('#selectDate');
                            selectDate.empty().append('<option value="" disabled selected hidden>Choisissez une date</option>');
                            $.each(response.dates, function (index, value) {
                                selectDate.append('<option value="' + value + '">' + value + '</option>');
                            });
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    });
                }
            });

            $('#selectDate').change(function () {
                var selectedFestival = $('#nomFestival').val();
                var selectedDate = $(this).val();
                $.ajax({
                    type: 'POST',
                    url: '/get_events',
                    data: { 'nomFest': selectedFestival, 'selectedDate': selectedDate },
                    success: function (response) {
                        var eventsDiv = $('#events');
                        eventsDiv.empty();
                        if (response.events.length > 0) {
                            $.each(response.events, function (index, event) {
                                eventsDiv.append('<div class="event"><a class="evt" href="#"><p>' + event.nomEvent + '</p><p>' + event.typeEvent + '</p><p>' + event.dateHeureDebutEvent + ' - ' + event.dateHeureFinEvent + '</p><p>' + event.adresseEvent + '</p><p>' + event.nbPlaceEvent + '</p></a></div>');
                            });
                        } else {
                            eventsDiv.append('<p>Aucun événement disponible à cette date.</p>');
                        }
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            });
        });
    </script>
{% endblock %}
