* {
    margin: auto;
    padding: auto;
}

#header {
    padding: 1em;
}

#navbar {
    display: flex;
    justify-content: space-between;
}

.left {
    flex-grow: 1;
}

.right {
    text-align: right;
}

.user {
    width: 5%;
    aspect-ratio: 1/1;
}