h1{
    padding-left: 0.5%;
    text-decoration: underline;
    text-underline-offset: 10%;
}

.infoFest{
    background-color: aqua;
}

.ensGroupe{
    background-color: blueviolet;
}

.ensProg{
    margin: 0.5%;
    margin-left: 1%;
}

.dateProg{
    display: inline-block;
    text-decoration: none;
    margin-right: 90%;
    color: black;
    font-size: 130%;
    transition: color 0.3s, transform 0.3s, text-decoration 0.3s, text-underline-offset 0.5s;
}

.dateProg:hover{
    color: rgb(49, 49, 49);
    transform: scale(1.2);
    text-decoration: underline;
    text-underline-offset: 10%;
}