#festivals,#groupes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1em;
    text-align: center;
}

#groupes{
    flex-wrap: wrap;
}

.festival, .groupe{
    flex-grow: 1;
    margin: 1em;
    background-color: #f4f4f4;
    padding: 1em;
    box-shadow: 0 0.2em 0.4em rgba(0, 0, 0, 0.3);
    border-radius: 0.4em;
    cursor: pointer;
}

.festival:hover{
    background-color: rgba(255, 0, 0, 0.3);
}

.fest, .grp{
    width: 100%;
}

.acheterBillet{
    display: block;
}

.image{
    display: block;
}